#if($result.success) ✓ #else ✘ #end${result.status} assertion '${assertion.name}' (${assertion.description})
#foreach($test in ${result.children}) #if($test.success)   ✘ failed:#else   ✓ passed:#end ${test.name}
#end
