======================================================================================================================
Start $phase of job '${job.identifier}' (${job.description}) at ${Timestamp.now()}
======================================================================================================================

