======================================================================================================================
${result.status} ${result.phase} of job '${job.identifier}' (${job.description})
Total time: ${result.duration}
Finished at: ${result.endTime}
======================================================================================================================


