<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flowman Project '${project.name}' version ${project.version}</title>
</head>

<body>
<h1>Flowman Project '${project.name}' version ${project.version}</h1>
<div>Description: ${project.description}</div>

<h4>Mappings</h4>
<ul>
#foreach($mapping in ${project.mappings})
    <li><a href="#${mapping.reference}">'${mapping.identifier}'</a></li>
#end
</ul>

<h4>Relations</h4>
<ul>
    #foreach($relation in ${project.relations})
        <li><a href="#${relation.reference}">'${relation.identifier}'</a></li>
    #end
</ul>

<h4>Targets</h4>
<ul>
    #foreach($target in ${project.targets})
        <li><a href="#${target.reference}">'${target.identifier}'</a></li>
    #end
</ul>


<h2>Mappings</h2>
#foreach($mapping in ${project.mappings})
    <h3 id="${mapping.reference}">Mapping '${mapping.identifier}'</h3>
    <div>Description: ${mapping.description}</div>
    <h4>Inputs</h4>
    #foreach($input in ${mapping.inputs})
    <table>
        <tr>
            <td>${input.kind}</td>
            <td><a href="#${input}">${input}</a></td>
        </tr>
    </table>
    #end
    <h4>Outputs</h4>
    #foreach($output in ${mapping.outputs})
        <h5 id="${output.reference}">${output.name}</h5>
        <div>Description: ${output.description}</div>
        <table>
            <thead>
            <tr>
                <td>Column</td>
                <td>Data Type</td>
                <td>Attributes</td>
                <td>Description</td>
                <td>Tests</td>
            </tr>
            </thead>
        #foreach($column in ${output.schema.columns})
            <tr>
                <td>${column.name}</td>
                <td>${column.catalogType}</td>
                <td>#if(!$column.nullable) NOT NULL #end</td>
                <td>${column.description}</td>
                <td></td>
            </tr>
        #end
        </table>
    #end
#end

<h2>Relations</h2>
#foreach($relation in ${project.relations})
    <h3 id="${relation.reference}">Relation '${relation.identifier}'</h3>
    <div>Description: ${relation.description}</div>
    <h4>Resources</h4>
    <table>
    #foreach($resource in ${relation.resources})
        <tr>
            <td>${resource.category}</td>
            <td>${resource.name}</td>
        </tr>
    #end
    </table>
    <h4>Inputs</h4>
    <table>
    #foreach($input in ${relation.inputs})
        <tr>
            <td></td>
            <td>${input}</td>
        </tr>
    #end
    </table>
    <h4>Schema</h4>
    <table>
        <thead>
        <tr>
            <td>Column</td>
            <td>Data Type</td>
            <td>Attributes</td>
            <td>Description</td>
            <td>Tests</td>
        </tr>
        </thead>
        #foreach($column in ${relation.schema.columns})
            <tr>
                <td>${column.name}</td>
                <td>${column.catalogType}</td>
                <td>#if(!$column.nullable) NOT NULL #end</td>
                <td>${column.description}</td>
                <td></td>
            </tr>
        #end
    </table>
#end

<h2>Targets</h2>
#foreach($target in ${project.targets})
    <h3 id="${target.reference}">Target '${target.identifier}'</h3>
    <div>Description: ${target.description}</div>
    <h4>Inputs</h4>
    #foreach($input in ${target.inputs})
    <table>
        <tr>
            <td>${input.kind}</td>
            <td><a href="#${input}">${input}</a></td>
        </tr>
    </table>
    #end
    <h4>Outputs</h4>
    #foreach($output in ${target.outputs})
    <table>
        <tr>
            <td>${output.kind}</td>
            <td><a href="#${output}">${output}</a></td>
        </tr>
    </table>
    #end
    <h4>Phases</h4>
    <div>
    #foreach($phase in ${target.phases})
    ${phase.name}
    #end
    </div>
#end
</body>
